{% extends 'base.html.twig'%}

{% block stylesheets %}
  <link href="{{ asset('fullcalendar/packages/core/main.css') }}" rel='stylesheet' />
  <link href="{{ asset('fullcalendar/packages/daygrid/main.css') }}" rel='stylesheet' />

  <style>
    #bidoneSfondo {
      background-color: red;
    }
  </style>
{% endblock %}

{% block javascripts %}
  <script src='{{ asset("fullcalendar/packages/core/main.js") }}'></script>
  <script src="{{ asset('fullcalendar/packages/daygrid/main.js') }}"></script>
  <script src="{{ asset('fullcalendar/packages/interaction/main.js') }}"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var bidoneEl = document.getElementById('bidone');

      var listaEventi = document.querySelector('.eventi').dataset.eventi;

      if( listaEventi == "[  ]" ) {
        listaEventi = "";
      }
      else {
        //roba a mano per togliere la virgola di troppa alla fine della json string, se non lo faccio non mi parsa
        String.prototype.replaceAt = function(index, replacement) {
          return this.substr(0, index) + replacement + this.substr(index + replacement.length);
        }

        for( var i = listaEventi.length; i > 0; i--) {
          if( listaEventi.charAt(i) == "," ) {
            var listaEventiUtilizzabile = listaEventi.replaceAt( i, " ");
            
            break;
          }
        }
        //roba calendario
        listaEventi = JSON.parse(listaEventiUtilizzabile)
        console.log(listaEventi);
      }   

      
      //render calendario
      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid', 'interaction' ],

        droppable: true,
        editable: true,

        defaultView: 'dayGridMonth',

        events: listaEventi,
        eventColor: '#FDD017',
        eventTextColor: '#413839',

        header: {
          left:   'addEventButton',
          center: 'title',
          right:  'today prev,next'
        },

        //bottone per inserimento eventi
        customButtons: {
          addEventButton: {
            text: 'inserisci un evento',

            click: function() {
              $('#inserimentoEventoModal').modal('show');

              $("#carica").click(function() {
                var titolo = $("input[name=titolo]").val();
                var dataInizio = $("input[name=dataInizio]").val();
                var dataFine = $("input[name=dataFine]").val();
                var priorita = $("select[name=priorita]").val();
                var progetto =  $("input[name=progetto]").val();

                if ( dataInizio ) { // valid?
                  var ev = {
                              title: titolo,
                              start: dataInizio,
                              end: dataFine,
                              pri: priorita,
                              prog: progetto,
                              allDay: true
                          };

                  calendar.addEvent( ev );

                  ev = JSON.stringify( ev );

                  //manda alla route per salvare il nuovo evento nel db
                  $.post("/salvaEvento", {
                      "data": ev
                  }, function(data) {
                      location.reload(); //mi fa un po' schifo, serve a caricare di nuovo gli eventi cosi hanno l'id anche quelli nuovi
                  });
                } 
                else {
                  alert('Invalid date.');
                }

                //eventuale controllo sui campi che non ho voglia di fare va qua
                $('#inserimentoEventoModal').modal('hide');
                
                exit(); //EZ fix serve a terminare lo script cosi non raddoppio l'aggiungimento di eventi
              });
              
            }
          }
        },
      });

      var bidone = new FullCalendar.Calendar(bidoneEl, {
        plugins: [ 'interaction', 'dayGrid' ],
        defaultDate: '2020-04-12',

        editable: true,
        droppable: true, // will let it receive events!

        header: false,
        fixedWeekCount: false,

        eventReceive: function(info) {
          console.log('event received!', info.event.id);

          //chiamata che elimina l'evento
          $.post("/eliminaEvento", {
              "id": info.event.id,
              "provenienza": "calendario"
          }, function(data) {
              //location.reload();
              console.log(data);
          });
        }
      });

      calendar.render();
      bidone.render();
    });
  </script>
{% endblock %}

{% block body %}
    <div id="wrapper">
      {{ include('robaDaIncludere/sidebar.html.twig') }}

      <div id="content-wrapper" class="d-flex flex-column">
        <!-- modal inserimento evento -->
        <div class="modal fade" id="inserimentoEventoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aggiungi evento!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <form>
                        <div class="form-group">
                          <label for="titolo"> Titolo Evento </label>
                          <input type="text" class="form-control" name="titolo">
                        </div>
                        
                        <div class="form-group">
                          <label for="dataInizio"> Data inizio </label>
                          <input type="text" class="form-control" name="dataInizio" placeholder="yyyy-mm-dd">
                        </div>

                        <div class="form-group">
                          <label for="dataFine"> Data fine </label>
                          <input type="text" class="form-control" name="dataFine" placeholder="yyyy-mm-dd">
                        </div>

                        <div class="form-group">
                          <label for="priorita">Selezione il livello di priorità</label>

                          <select name="priorita">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="progetto"> Nome progetto padre </label>
                          <input type="text" class="form-control" name="progetto" placeholder="opzionale">
                        </div>
                        
                        <div class="container mt-4 mb-1">
                          <div class="row">
                            <div class="col text-center">
                              <button id="carica" type="button" class="btn btn-primary align-self-center">Carica</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal-footer" style="justify-content:left !important">
                <p>Aggiungiaml</p>
              </div>
            </div>
          </div>
        </div>


        <!-- Main Content -->
        <div class="eventi" data-eventi='[ {{ listaEventi }} ]'>
        </div> <!-- serve a passare dati al javascript --> 

        <div id="content">
          <div class="container-fluid ">
              <div class="row">
                  <!-- Area Calendario -->
                  <div class="col-xl-9 col-lg-9 p-0 pt-2">
                    <div id='calendar'></div>
                  </div>

                  <div class="col-xl-2 col-lg-3 p-0 pt-5 ml-5">
                    <div class="row">
                      <h2>cancella eventi</h2>
                      <div id="bidoneSfondo">
                        <div class="invisible" id='bidone'></div>
                      </div>
                    </div>
                </div>
              </div>

          </div>
        </div>

      </div>

    </div>
{% endblock %}
