{% extends 'base.html.twig'%}

{% block stylesheets %}
  <link href="{{ asset('fullcalendar/packages/core/main.css') }}" rel='stylesheet' />
  <link href="{{ asset('fullcalendar/packages/daygrid/main.css') }}" rel='stylesheet' />
{% endblock %}

{% block javascripts %}
  <script src='{{ asset("fullcalendar/packages/core/main.js") }}'></script>
  <script src="{{ asset('fullcalendar/packages/daygrid/main.js') }}"></script>

  <script>
    

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var listaEventi = document.querySelector('.eventi').dataset.eventi;

      //roba a mano per togliere la virgola di troppa alla fine della json string, se non lo faccio non mi parsa
      String.prototype.replaceAt = function(index, replacement) {
        return this.substr(0, index) + replacement + this.substr(index + replacement.length);
      }

      var i;
      var listaEventiUtilizzabile = "";
      for( i = listaEventi.length; i > 0; i--) {
        if( listaEventi.charAt(i) == "," ) {
          listaEventiUtilizzabile = listaEventi.replaceAt( i, " ");
          
          break;
        }
      }

      //roba calendario
      //console.log( JSON.parse(listaEventiUtilizzabile) );
      listaEventi = JSON.parse(listaEventiUtilizzabile);

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid' ],
        defaultView: 'dayGridMonth',

        events: listaEventi,

        eventColor: '#FDD017',
        eventTextColor: '#413839',

        header: {
          left:   'addEventButton',
          center: 'title',
          right:  'today prev,next'
        },

        customButtons: {
          addEventButton: {
            text: 'inserisci un evento',

            click: function() {
              var dateStr = prompt('inserisci un evento in questo formato YYYY-MM-DD');
              var date = new Date(dateStr + 'T00:00:00'); // will be in local time

              if (!isNaN(date.valueOf())) { // valid?
                calendar.addEvent({
                  title: 'dynamic event',
                  start: date,
                  allDay: true
                });

                .ajax(){

                };
              } else {
                alert('Invalid date.');
              }
            }
          }
        },
      });

      calendar.render();
    });
  </script>
{% endblock %}

{% block body %}
    <div id="wrapper">
        {{ include('robaDaIncludere/sidebar.html.twig') }}

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div class="eventi" data-eventi='[ {% for evento in eventi %}
             { 
               "title": "{{ evento.titolo }}",
               "start": "2020-05-01",
               "end": "2020-05-25"
               }, 
             {% endfor %} ]'>

            </div> <!-- serve a passare dati al javascript --> 
            
            <div id="content">
                <div class="container-fluid ">
                    <div class="row">
                        <!-- Area Calendario -->
                        <div class="col-xl-12 col-lg-12 p-0 pt-2">
                            <div id='calendar'></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
