{% extends 'base.html.twig'%}

{% block stylesheets %}
  <link href="{{ asset('fullcalendar/packages/core/main.css') }}" rel='stylesheet' />
  <link href="{{ asset('fullcalendar/packages/daygrid/main.css') }}" rel='stylesheet' />
{% endblock %}

{% block javascripts %}
  <script src='{{ asset("fullcalendar/packages/core/main.js") }}'></script>
  <script src="{{ asset('fullcalendar/packages/daygrid/main.js') }}"></script>
  <script src="{{ asset('fullcalendar/packages/interaction/main.js') }}"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var bidoneEl = document.getElementById('bidone');

      var listaEventi = document.querySelector('.eventi').dataset.eventi;

      if( listaEventi == "[  ]" ) {
        listaEventi = "";
      }
      else {
        //roba a mano per togliere la virgola di troppa alla fine della json string, se non lo faccio non mi parsa
        String.prototype.replaceAt = function(index, replacement) {
          return this.substr(0, index) + replacement + this.substr(index + replacement.length);
        }

        var i;
        var listaEventiUtilizzabile = "";
        for( i = listaEventi.length; i > 0; i--) {
          if( listaEventi.charAt(i) == "," ) {
            listaEventiUtilizzabile = listaEventi.replaceAt( i, " ");
            
            break;
          }
        }

        //roba calendario
        listaEventi = JSON.parse(listaEventiUtilizzabile);
      }   

      //roba per drag and drop
      var Draggable = FullCalendarInteraction.Draggable;
      var containerEl = document.getElementById('external-events');
      var checkbox = document.getElementById('drop-remove');

      new Draggable(containerEl, {
        itemSelector: '.fc-event',
        eventData: function(eventEl) {
          return {
            title: eventEl.innerText
          };
        }
      });
      
      //render calendario
      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid', 'interaction' ],

        droppable: true,
        editable: true,

        defaultView: 'dayGridMonth',

        events: listaEventi,

        eventColor: '#FDD017',
        eventTextColor: '#413839',

        header: {
          left:   'addEventButton',
          center: 'title',
          right:  'today prev,next'
        },

        //bottone per inserimento eventi
        customButtons: {
          addEventButton: {
            text: 'inserisci un evento',

            click: function() {
              $('#inserimentoEventoModal').modal('show');

              $("#carica").click(function() {
                var titolo = $("input[name=titolo]").val();
                var dataInizio = $("input[name=dataInizio]").val();
                var dataFine = $("input[name=dataFine]").val();
                var priorita = $("select[name=priorita]").val();
                var progetto =  $("input[name=progetto]").val();

                if ( dataInizio ) { // valid?
                  var ev = {
                              title: titolo,
                              start: dataInizio,
                              end: dataFine,
                              pri: priorita,
                              prog: progetto,
                              allDay: true
                          };

                  calendar.addEvent( ev );
                  console.log( ev );

                  ev = JSON.stringify( ev );

                  //manda alla route per salvare il nuovo evento nel db
                  $.post("/BeeProductive/public/salvaEvento", {
                      "data": ev
                  }, function(data) {
                      alert(data);
                  });
                } 
                else {
                  alert('Invalid date.');
                }

                //eventuale controllo sui campi che non ho voglia di fare va qua
                $('#inserimentoEventoModal').modal('hide');
                exit(); //EZ fix serve a terminare lo script cosi non raddoppio l'aggiungimento di eventi
              });
              
            }
          }
        },
      });

      var bidone = new FullCalendar.Calendar(bidoneEl, {
        plugins: [ 'interaction', 'dayGrid' ],
        defaultDate: '2020-05-12',
        editable: true,
        droppable: true, // will let it receive events!

        eventReceive: function(info) {
          console.log('event received!', info.event.id);

          //chiamata che elimina l'evento
          $.post("/BeeProductive/public/eliminaEvento", {
              "id": info.event.id
          }, function(data) {
              alert(data);
          });
        }
      });

      calendar.render();
      bidone.render();
    });
  </script>
{% endblock %}

{% block body %}
    <div id="wrapper">
      {{ include('robaDaIncludere/sidebar.html.twig') }}

      <div id="content-wrapper" class="d-flex flex-column">
        <div class="row">
          <div class="col-6">
            <div id='external-events'>
              <p>
                <strong>Draggable Events</strong>
              </p>
              <div class='fc-event'>My Event 1</div>
              <div class='fc-event'>My Event 2</div>
              <div class='fc-event'>My Event 3</div>
              <div class='fc-event'>My Event 4</div>
              <div class='fc-event'>My Event 5</div>
              <div class="fc-event"> ciao </div>
              <p>
                <input type='checkbox' id='drop-remove' />
                <label for='drop-remove'>remove after drop</label>
              </p>
            </div>
          </div>

          <div class="col-6">
            <div id='bidone'></div>
          </div>
        </div>

        <!-- modal inserimento evento -->
        <div class="modal fade" id="inserimentoEventoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aggiungi evento!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <form>
                        <div class="form-group">
                          <label for="titolo"> Titolo Evento </label>
                          <input type="text" class="form-control" name="titolo">
                        </div>
                        
                        <div class="form-group">
                          <label for="dataInizio"> Data inizio </label>
                          <input type="text" class="form-control" name="dataInizio" placeholder="yyyy-mm-dd">
                        </div>

                        <div class="form-group">
                          <label for="dataFine"> Data fine </label>
                          <input type="text" class="form-control" name="dataFine" placeholder="yyyy-mm-dd">
                        </div>

                        <div class="form-group">
                          <label for="priorita">Selezione il livello di priorità</label>

                          <select name="priorita">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="progetto"> Nome progetto padre </label>
                          <input type="text" class="form-control" name="progetto" placeholder="opzionale">
                        </div>
                        
                        <div class="container mt-4 mb-1">
                          <div class="row">
                            <div class="col text-center">
                              <button id="carica" type="button" class="btn btn-primary align-self-center">Carica</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal-footer" style="justify-content:left !important">
                <p>Aggiungiaml</p>
              </div>
            </div>
          </div>
        </div>


        <!-- Main Content -->
        <div class="eventi" data-eventi='[ {% for evento in eventi %}
          { 
            "id": "{{ evento.id }}",
            "title": "{{ evento.titolo }}",
            "start": "{{ evento.startDate}}",
            "end": "{{ evento.endDate }}"
            }, 
          {% endfor %} ]'>
        </div> <!-- serve a passare dati al javascript --> 

        <div id="content">
          <div class="container-fluid ">
              <div class="row">
                  <!-- Area Calendario -->
                  <div class="col-xl-12 col-lg-12 p-0 pt-2">
                    <div id='calendar'></div>
                  </div>
              </div>
          </div>
        </div>

      </div>

    </div>
{% endblock %}
