{% extends 'base.html.twig'%}

{% block stylesheets %}
  <link href="{{ asset('fullcalendar/packages/core/main.css') }}" rel='stylesheet' />
  <link href="{{ asset('fullcalendar/packages/daygrid/main.css') }}" rel='stylesheet' />
{% endblock %}

{% block javascripts %}
  <script src='{{ asset("fullcalendar/packages/core/main.js") }}'></script>
  <script src="{{ asset('fullcalendar/packages/daygrid/main.js') }}"></script>
  <script src="{{ asset('fullcalendar/packages/interaction/main.js') }}"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var listaEventi = document.querySelector('.eventi').dataset.eventi;

      if( listaEventi == "[  ]" ) {
        listaEventi = "";
      }
      else {
        //roba a mano per togliere la virgola di troppa alla fine della json string, se non lo faccio non mi parsa
        String.prototype.replaceAt = function(index, replacement) {
          return this.substr(0, index) + replacement + this.substr(index + replacement.length);
        }

        for( var i = listaEventi.length; i > 0; i--) {
          if( listaEventi.charAt(i) == "," ) {
            var listaEventiUtilizzabile = listaEventi.replaceAt( i, " ");
            
            break;
          }
        }
        //roba calendario
        listaEventi = JSON.parse(listaEventiUtilizzabile)
        console.log(listaEventi);
      }   

      
      //render calendario
      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid', 'interaction' ],

        droppable: true,
        editable: true,

        defaultView: 'dayGridMonth',
        fixedWeekCount: false,

        events: listaEventi,
        eventColor: '#FDD017',
        eventTextColor: '#413839',
        eventBorderColor: '#4287f5',

        header: {
          left:   'addEventButton addProjectButton',
          center: 'title',
          right:  'today prev,next'
        },

        eventClick: function(info) {
          $('#cancellaEventoModal').modal('show');
          
          $("#cancellaEvento").click(function(){
            $('#cancellaEventoModal').modal('hide');

            $.post("/eliminaEvento", {
                "id": info.event.id,
                "provenienza": "calendario"
            }, function(data) {
                location.reload();
                console.log(data);
            }); 

          });          
        },

        eventDrop: function(info) {
          var dataInizio = new Date(info.event.start);
          var dataFine = new Date(info.event.end);

          dataInizio = dataInizio.getFullYear() + "-" + ( "0" + (dataInizio.getMonth() + 1)).slice(-2) + "-" + ( "0" + dataInizio.getDate()).slice(-2);
          dataFine = dataFine.getFullYear() + "-" + ( "0" + (dataFine.getMonth() + 1)).slice(-2) + "-" + ( "0" + dataFine.getDate()).slice(-2);

          //chiamata ajax per cambiare le date
          $.post("/cambiaDate", {
              "id": info.event.id,
              "dataInizio": dataInizio,
              "dataFine": dataFine
          }, function(data) {
              alert( data ); //mi fa un po' schifo, serve a caricare di nuovo gli eventi cosi hanno l'id anche quelli nuovi
          });
        },

        //bottone per inserimento eventi
        customButtons: {
          addEventButton: {
            text: 'Inserisci un evento',

            click: function() {
              $('#inserimentoEventoModal').modal('show');

              $("#carica").click(function() {
                var titolo = $("input[name=titolo]").val();
                var dataInizio = $("input[name=dataInizio]").val();
                var dataFine = $("input[name=dataFine]").val();
                var priorita = $("select[name=priorita]").val();
                var progetto =  $("input[name=progetto]").val();

                if ( dataInizio ) { // valid?
                  var ev = {
                              title: titolo,
                              start: dataInizio,
                              end: dataFine,
                              pri: priorita,
                              prog: progetto,
                              allDay: true
                          };

                  calendar.addEvent( ev );

                  ev = JSON.stringify( ev );

                  //manda alla route per salvare il nuovo evento nel db
                  $.post("/salvaEvento", {
                      "data": ev
                  }, function(data) {
                      location.reload(); //mi fa un po' schifo, serve a caricare di nuovo gli eventi cosi hanno l'id anche quelli nuovi
                  });
                } 
                else {
                  alert('Invalid date.');
                }

                //eventuale controllo sui campi che non ho voglia di fare va qua
                $('#inserimentoEventoModal').modal('hide');
                
                exit(); //EZ fix serve a terminare lo script cosi non raddoppio l'aggiungimento di eventi
              });
              
            }
          },

          addProjectButton: {
            text: 'Crea Progetto',

            click: function() {
              $('#creazioneProgettoModal').modal('show');

              $("#caricaProgetto").click(function() {
                var titolo = $("input[name=titoloProgetto]").val();
                var deadline = $("input[name=deadline]").val();
                
                if ( deadline ) { // valid?
                  var progetto = {
                              title: titolo,
                              end: deadline
                          };

                  progetto = JSON.stringify( progetto );

                  //manda alla route per salvare il nuovo evento nel db
                  $.post("/salvaProgetto", {
                      "data": progetto
                  }, function(data) {
                      alert("adam risponde con:" + data)
                      location.reload(); //mi fa un po' schifo, serve a caricare di nuovo gli eventi cosi hanno l'id anche quelli nuovi
                  });
                } 
                else {
                  alert('Invalid date.');
                }

                $('#creazioneProgettoModal').modal('hide');
                exit(); //EZ fix serve a terminare lo script cosi non raddoppio l'aggiungimento di eventi
              });              
            }
          }
          
        }
      });

      calendar.render();
    });

    
  </script>
{% endblock %}

{% block body %}
    <div id="wrapper">
      {{ include('robaDaIncludere/sidebar.html.twig') }}

      <div id="content-wrapper" class="d-flex flex-column">
        <!-- modal inserimento evento -->
        <div class="modal fade" id="inserimentoEventoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aggiungi evento!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <form>
                        <div class="form-group">
                          <label for="titolo"> Titolo Evento </label>
                          <input type="text" class="form-control" name="titolo">
                        </div>
                        
                        <div class="form-group">
                          <label for="dataInizio"> Data inizio </label>
                          <input type="text" class="form-control" name="dataInizio" placeholder="yyyy-mm-dd">
                        </div>

                        <div class="form-group">
                          <label for="dataFine"> Data fine </label>
                          <input type="text" class="form-control" name="dataFine" placeholder="yyyy-mm-dd">
                        </div>

                        <div class="form-group">
                          <label for="priorita">Selezione il livello di priorità</label>

                          <select name="priorita">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="progetto"> Nome progetto padre </label>
                          <input type="text" class="form-control" name="progetto" placeholder="opzionale">
                        </div>
                        
                        <div class="container mt-4 mb-1">
                          <div class="row">
                            <div class="col text-center">
                              <button id="carica" type="button" class="btn btn-primary align-self-center">Carica</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- modal creazione progetto -->
        <div class="modal fade" id="creazioneProgettoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aggiungi evento!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <form>
                        <div class="form-group">
                          <label for="titoloProgetto"> Titolo Progetto </label>
                          <input type="text" class="form-control" name="titoloProgetto">
                        </div>
                        
                        <div class="form-group">
                          <label for="deadline"> DeadLine </label>
                          <input type="text" class="form-control" name="deadline" placeholder="yyyy-mm-dd">
                        </div>

                        <div class="container mt-4 mb-1">
                          <div class="row">
                            <div class="col text-center">
                              <button id="caricaProgetto" type="button" class="btn btn-primary align-self-center">Carica</button>
                            </div>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- modal cancellazione Evento -->
        <div class="modal fade" id="cancellaEventoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sei sicuro di voler cancellare questo evento?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col text-center bg-success">
                      <button id="cancellaEvento" class="btn btn-default"><i class="text-white fas fa-check"></i></button>
                    </div>

                    <div class="col text-center bg-danger">
                      <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close"><i class="text-white fas fa-times"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Main Content -->
        <div class="eventi" data-eventi='[ {{ listaEventi }} ]'>
        </div> <!-- serve a passare dati al javascript --> 

        <div id="content">
          <div class="container-fluid ">
              <div class="row">
                  <!-- Area Calendario -->
                  <div class="col-xl-9 col-lg-9 p-0 pt-2">
                    <div id='calendar'></div>
                  </div>

                  <div class="col-xl-2 col-lg-3 p-0 pt-5 ml-5 text-center">
                    <h2>PROGETTI</h2>
                    {% if listaProgetti is empty %}
                        non ci sono progetti
                    {% else %}
                        {{ listaProgetti | raw }}
                    {% endif %}
                </div>
              </div>

          </div>
        </div>

      </div>

    </div>
{% endblock %}
